<!-- vue-shipping-component => [cart-drawer; vue-shipping-section] -->
<script src="{{ 'vue-shipping-component.js' | asset_url }}" defer="defer"></script>
<style>
.shipping-bar_component {
    text-align: center;
    padding: 2px 0;
}
#vue-shipping-section{
    height: 36px;
}

.shipping--bar__message {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    font-weight: bold;
}
</style>
{%- capture shipping_container -%}
<div class="shipping-bar_component">
  <span class="shipping--bar__message">
    <div v-html="shipping_message" ></div>
  </span>
</div>
{%- endcapture -%}

<script type="text/x-template" id="shipping-template">{{ shipping_container }}</script>
