{{ 'custom-featured-collection.css' | asset_url | stylesheet_tag }}
{{ 'custom-featured-card.css' | asset_url | stylesheet_tag }}

<div class="custom-featured__collection page-width">
    <h2 class="section__title">{{ section.settings.title_id }}</h2>
    <ul class="custom-featured-collection__items">
        {% for product in section.settings.collection_id.products %}
            <li class="custom-featured-collection__item">
                {%- render 'custom-featured-card' product_card_product: product -%}
            </li>
        {% endfor %}
    </ul>
</div>

{% schema %}
{
    "name": "Home Featured Collection",
    "settings": [
       {
           "type": "text",
           "id": "title_id",
           "label": "Section title"
       },
       {
           "type": "collection",
           "id": "collection_id",
           "label": "Collection"
       }
    ],
   "presets": [
       {
           "name":"Home Featured Collection"
       }
   ]
}
{% endschema %}