/* page overlay (start) */
.page__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    background: #363636;
    -webkit-transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.is-visible {
    opacity: 0.5;
    visibility: visible;
}

/*GENERAL[START]*/
.section__title{
    margin: 0 auto;
    padding: 0 0 2rem;
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
    font-size: 3rem;
}
/*GENERAL[END]*/

/* HEADER[START] */
.search__container{
    grid-area: search
}
.header{
    max-width: 1200px;
    grid-template-areas: 'left-icon heading icons'
                          'search search search'
}
.header__icons{
    width: -webkit-fill-available;
    justify-content: center;
}
.search__input.field__input{
    border: 0.2rem solid #030d4f;
    border-radius: 1rem;
    color: #6470ff;
    box-shadow: none;
}
.search__container .field__button {
    background-color: #030d4f;
    padding: 0 0rem;
    width: 7rem;
    border-radius: 1rem;
}
.search__container .field__button svg{
    width: 2.5rem;
    height: 2.5rem;
    color: #FFF
}
.predictive-search.predictive-search--header{
    width: max-content;
    top: 10rem;
    left: 3rem;
}
.header__icon svg.icon,
.header__icons svg{
    fill:#030d4f;
}
.header__icon .icon.custom-cart{
    fill:#030d4f;
    height: 3rem;
    width: 3rem;
    transform: rotateY(180deg);
}
.list-menu__item span{
    text-transform: uppercase;
    font-weight: bold;
}
@media screen and (min-width: 750px) {
    .predictive-search.predictive-search--header{
        width: max-content;
        top: 5rem;
    }
    .header__inline-menu{
        text-align: center;
    }
    .header{
        padding-bottom: 0;
        grid-template-areas: 'heading search icons'
                             'navigation navigation navigation';
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*HEADER[END]*/

/* FOOTER [START] */
.product-announce__item-img{
    position: relative;
    padding-bottom: 164px;
    width: 136px;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0;
}
.product-announce__item-img h4{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #ceecef;
    text-align: center;
    margin: 0;
    padding: 0.2rem 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #030d4f;
}
.product-announce__item-img img{
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.svg-logo{
    width: 148px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
}
.svg-logo svg{
    width: 100%;
    height: auto;
}
.social-media__container ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media__container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
    margin: 0;
}
.social-media__container ul svg{
    width: 48px;
    height: 48px;
    margin: 0 1rem;
    fill: #030d4f;
}
.payment-badges__wrapper ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.payment-badges__wrapper ul li:not(:last-child){
    margin-right: 1rem;
}
.payment-badges__wrapper ul svg{
    width: 48px;
    height: 48px;
}
.copyright__wrappe h4{
    font-size: 1.5rem;
    margin: 0;
    color: #3c3c3c;
}
.field .newsletter-form__button{
    background-color: #fb0c06;
    padding: 0 0rem;
    width: 7rem;
    border-radius: 1rem;
}
.field .newsletter-form__button .icon{
    width: 2rem;
}
.field .newsletter-form__button .icon path{
    fill: #FFF
}
#NewsletterForm--footer{
    border: 1px solid #fb0c06;
    border-radius: 1rem;
    color: #030d4f;
    box-shadow: none;
}
#NewsletterForm--footer::placeholder{
    color: #fb0c06;
}
.footer .footer-block__heading{
    color: #030d4f;
    font-weight: bold;
    font-size: 2.2rem;
}
.footer-menu__full-width{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}
.footer-menu__full-width a{
    color: #030d4f;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    background-color: #e7edea;
    margin-top: 1rem;
}
.footer-above-menu__container{
    padding-top: 2rem;
}

.product-announce{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-announce__item:last-child{
    padding-top: 2rem;
}
.copyright__wrapper h4{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #3c3c3c;
}
@media screen and (min-width: 750px) {
    .footer-menu__full-width a{
        font-size: 1.6rem;
        padding: 0 1rem;
        margin: 0 1rem;
        margin-top: 0;
    }
    .social-media__container ul{
        padding: 3rem 0 0 0;
    }

    .footer-above-menu__container{
        padding-top: 3rem;
        display: flex;
        justify-content: space-evenly;
    }
    .product-announce__item{
        padding-right: 3rem;
    }
    .footer__column.footer__column--info{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .product-announce__item:last-child{
        padding-top: 0;
    }
    .svg-logo{
        padding-top: 0;
    }
}

/* FOOTER [END] */

/* LOGIN (START) */

#login,
.customer.register h1,
.customer.login h1 {
    font-weight: bold;
    color: #606060;
}

#CustomerEmail,
#CustomerPassword,
#RegisterForm-LastName,
#RegisterForm-email,
#RegisterForm-password,
#RegisterForm-FirstName,
#RecoverEmail {
    border-radius: 1rem;
    border: .5px solid rgb(202, 202, 202);
    font-family: "Montserrat", sans-serif;
}
.customer.addresses button,
#customer_login button,
#create_customer button,
.customer.login button,
.shopify-challenge__container input {
    border-radius: 12px;
    background-color: #030d4f;
    border: none;
    box-shadow: none;
    font-weight: bold;
}


/* LOGIN (END) */

/*PRODUCT PAGE[START]*/

#product-page-second__half {
    padding-left: 0;
}
.product__media.media {
    padding-bottom: 424px;
}
.grid__item .product__info-container .price--on-sale .price-item--regular{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: bold;
    text-decoration: line-through;
    color: #fb0c06;
}
.product__title {
    font-weight: normal;
    text-transform: uppercase;
    color: #444444;
    margin: 0;
}
.price-item--last {
    font-size: 2rem;
    line-height: 2.4rem;
    color: #030d4f;
}
.price-item--last b{
    font-size: 2.5rem;
}
.price .price__container .price__sale{
    display: flex;
    flex-direction: column;
}
.price__sale>span{
    line-height: 2.2rem;
}
.price__container{
    font-family: 'AT Open Sans';
}
.quantity-atc__separator{
    display: flex;
}
.quantity-atc__separator .product-form__input{
    flex: auto;
}
.atc__container{
    width: -webkit-fill-available;
    margin-left: 2rem;
}
.product-form__input input[type='radio'] + label.variant__model{
    position: relative;
    padding: 0 0 48px 0;
    width: 48px;
    border-radius: 1rem;
}
.product-form__input input[type='radio'] + label.variant__model img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.variant__model-span{
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
}
variant-radios label{
    color:#030d4f;
}
.product__info-wrapper .product-form__input input[type='radio']:checked + label,
.product-form__input input[type='radio']:checked + label.variant__model{
    border: 2px solid #fb0c06 ;
    background-color: #FFF;
    color:#030d4f;
    font-weight: bold;
}
.product-form__input input[type='radio']:checked + label .variant__model-span-normal::after,
.product-form__input input[type='radio']:checked + label.variant__model .variant__model-span::after{
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: #fb0c06 ;
    top: -1rem;
    right: -2rem;
    border-radius: 1rem;
    position: absolute;
}
.product-form__input input[type='radio']:checked + label .variant__model-span-normal::before,
.product-form__input input[type='radio']:checked + label.variant__model .variant__model-span::before{
    content: '';
    position: absolute;
    right: 0.1rem;
    top: -0.3rem;
    background: #ceecef;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #ceecef, 4px 0 0 #ceecef, 4px -2px 0 #ceecef, 4px -4px 0 #ceecef, 4px -6px 0 #ceecef, 4px -8px 0 #ceecef;
    transform: rotate(
45deg
);
    z-index: 1;
}
.product__info-wrapper .product-form__input{
    margin: 0 0 0.75rem 0;
}
.product-form__input .form__label,
fieldset.product-form__input .form__label{
    font-weight: bold;
}
.atc__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    text-transform: lowercase;
    font-weight: bold;
    letter-spacing: 0.2px;
}
.atc__content svg{
    width: 32px;
    height: 32px;
    fill: #FFF;
}
.quantity__input{
    font-size: 1.8rem;
    color: #030d4f;
    font-weight: bold;
}
.quantity__button svg{
    fill: #030d4f;
    width: 1.75rem;
    height: 1.75rem;
}
.atc__content svg.icon-minus{
    width: 8px;
    height: 16px;
    margin: 0 1rem;
}
 @media screen and (max-width: 749px) {
    .product .product__media.media{
      padding-bottom: 364px;
    }
    .quantity-atc__separator{
        flex-direction: column;
    }
    .atc__container {
        margin-left: 0;
    }
        
}
/*PRODUCT PAGE[END]*/