.custom-featured-collection__items{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.custom-featured-collection__item{
    width: calc(50% - 1rem);
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(80 79 79 / 30%) 0px 3px 7px -3px;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
@media screen and (min-width: 750px) {
    .custom-featured-collection__item{
        width: calc(25% - 1rem);
    }
}