.featured-reviews__background {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-reviews__title {
    font-size: 3.2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    max-width: 224px;
    margin: 0 auto;
    line-height: 3rem;
    padding-bottom: 1rem;
}

.featured-reviews__subtitle {
    font-size: 1.9rem;
    text-align: center;
    margin: 0;
}

.featured-reviews__card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    width: 90%;
    max-width: 296px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(80, 79, 79, 0.3) 0px 3px 7px -3px;
    margin: 1.6rem auto;
}

.featured-reviews__card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.featured-reviews__content {
    max-width: 320px;
    word-break: break-all;
    padding: 2rem;
}

.featured-reviews__instagram {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.featured-reviews__review {
    padding-bottom: 1.4rem;
    line-height: 20px;
    text-align: center;
    word-break: break-word;
    font-size: 1.8rem;
    margin: 0;
}

.featured-reviews__card.no-mobile {
    display: none;
}

.featured-reviews__content ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    width: fit-content;
    padding: 0;
}

.featured-reviews__total-count ul li,
.featured-reviews__content ul li {
    padding: 0 1px;
}

.featured-reviews__total-count ul li path,
.featured-reviews__content ul li path {
    fill: #404040;
}

.featured-reviews__total-count ul li svg {
    width: 20px;
    height: 20px;
}

.featured-reviews__total-count ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    width: fit-content;
    padding: 1rem 0 0 0;
}

@media screen and (min-width: 750px) {
    .featured-reviews__card-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
    }
    .featured-reviews__card.no-mobile {
        display: flex;
    }
    .featured-reviews__title {
        max-width: none;
    }
}