.accordion__section-title {
    background-color: #e7edea;
    color: #444;
    cursor: pointer;
    padding: 1.5rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    justify-content: center;
    align-items: center;
    display: flex;
}
.accordion__section-tab{
    overflow: scroll;
    transition: 0.5s all ease-in-out ;
    margin-top: 1rem;
}
.accordion__section-title{
    display: flex;
    justify-content: space-between;
}
.accordion__section-title svg{
    fill: #ffc52c;
}
.accordion__section-title h2{
    margin: 0;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 1rem;
} 
.accordion__icon-title{
    display: flex;
}
.active .accordion__arrow svg{
    transition: 0.5s all ease-out;
}
.active .accordion__arrow svg{
    transform: rotate(180deg);
}
.rich-text__content p{
    text-align: center;
    color: #323232;
    margin: 0;
}
.rich-text__cotainer{
    margin: 2rem;
    padding: 2rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.rich-text__title{
    font-weight: bold;
    text-align: center;
    font-size: 2.6rem;
    margin: 0;
    padding-bottom: 2rem;
    color: #323232;
}
.rich-text__title p{
    margin: 0;
}
@media screen and (min-width: 750px) {
    .accordion__section-title h2{
        font-size: 2rem;
    }
    .accordion__section-title{
        padding: 2.5rem;
    }
}