
@media screen and (min-width: 750px) {
    .banner ul{
        width: 80%;
        min-width: 800px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 749px) {
    .banner ul{
        margin: 0;
    }
    .banner__media img{
      display: none;
    }
}
.banner__swiper-slide li:not(:first-child) .banner__media{
    display: none;
}
.banner ul{
    list-style: none;
    padding: 0;
}
.banner ul li{
    width: 100%;
}