

.uvp-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #e7edea;
    flex-wrap: wrap;
    justify-content: space-around;
}
.uvp-section ul li svg{
    width: 64px;
    height: 64px;
    fill: #030d4f;
}
.uvp-section ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}
.uvp-section ul li h4{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding-top: 2rem;
    color: #030d4f;
}
@media screen and (min-width: 750px) {
    .uvp-section ul{
        justify-content: space-evenly;
    }
    .uvp-section ul li{
        padding-top: 0;
    }
}